<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SIMANIS - Dashboard</title>

  <!-- Custom fonts for this template-->
  
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet">


  <!-- Custom styles for this template-->
  <link href="css/dashboard.css" rel="stylesheet">
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
      style="background: -webkit-linear-gradient(top, #10DB63 0%, #007530 100%);" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="">
         <img src="img/logo_SIRA.png" width="90">
        </div>
        <div class="sidebar-brand-text mx-3">PEMOHON</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        MENU
      </div>

      <!-- Nav Item - Main Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="" data-toggle="collapse" data-target="#menupermohonanptsp" for=""
          aria-expanded="true" aria-controls="collapsePages">
          <i class="fa fa-book"></i>
          <span>Permohonan PTSP</span>
        </a>
        <div id="menupermohonanptsp" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="">Proses KEMENAG</a>
            <a class="collapse-item"href="">Ditolak</a>
            <a class="collapse-item" href="">Selesai</a>
          </div>
        </div>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    $290.29 has been deposited into your account!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for your account.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user-lock fa-sm fa-fw mr-2 text-gray-400"></i>
                  Ubah Kata Sandi
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4 judullist">
            <h3>Detail permohonan Pending<h3>
            <!-- <a href="<?= base_url('warga') ?>"> -->
              <button id="btn_kembali" class="btn btn-sm btn-warning" type="">
                <i class="fa fa-arrow-left">
                </i> Kembali
              </button>
            <!-- </a> -->
          </div>
        
          <!--Begin Content Profile-->
          <div class="row clearfix">
            <div class="col-md-4 mb-4">
              <div class="notifikasikesalahan">
                <p>*Mohon maaf lengkapi data berikut</p>
                <h5>Persyaratan :</h5>
              </div>
              <!-- Dokumen blm lengkap -->
              <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <center> 
                        <h6 class="m-0 font-weight-bold">Surat Keterangan xxxx</h6>
                    </center>
                </div>
                <center>
                <div class="card-body" style="padding: 15px;">
                    <!-- <?php foreach ($foto_profil as $saya) { ?>
                        <a href="<?= base_url(); ?>/assets/uploads/warga/<?= $saya->foto_profil_warga; ?>" data-gallery="mygallery" data-title="Foto Profil" data-toggle="lightbox">
                            <img src="<?= base_url(); ?>/assets/uploads/warga/<?= $saya->foto_profil_warga; ?>" alt="foto profil" class="img-fluid">
                        </a>
                    <?php } ?> -->
                </div>
                </center>
                
                <!-- Upload Foto Profil -->
                <div class="card-footer py-3">
                    <form action="<?= base_url('warga/upload_foto_profil') ?>" enctype="multipart/form-data" method="post" accept-charset="utf-8" id="form_upload_foto_profil">
                                    <?php
                    foreach ($detail_profil_saya as $saya) { ?>
                        <div class="form-group ml-2 mr-2">
                            <div class="input-group">
                                <div class="form-group-upload">
                                <div class="custom-file">
                                    <label class="custom-file-label" for="file-upload-profil">pilih foto
                                        profil...</label>
                                    <input type="file" class="custom-file-input" id="file-upload-profil" name="berkas">
                                    <input type="hidden" class="form-control form-user-input" name="id_warga" id="id_warga" value="<?= $saya->id_warga; ?>">
                                    <!-- <i class=" fas fa-exclamation-circle"></i>
                                    <h6>Error massage</h6> -->
                                </div>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                    <center>
                        <button class="btn btn-sm btn-primary" type="submit">
                            <i class="fa fa-upload">
                            </i> Upload
                        </button>
                    </center>		
                    </form>
                    
                </div>
            </div>
          </div>
            <div class="col-xs col-sm-8">
              <div class="card shadow mb-5">
                <div class="body">
                  <!-- <?php
                  foreach ($detail_profil as $detail) {
        
                  ?> -->
                    <form class="form-horizontal" id="form5" enctype="multipart/form-data" action="<?= base_url('warga/aksi_tambah_permohonan_suket005') ?>" method="POST">
                      <div class="form-group">
                        <div class="form-group">
                          <div class="form-group" style="margin-top: 15px;">
                            <div class="form-group row" style="margin-left: 10px;">
                              <label for="Nama" class="col-sm-3 col-form-label">Nama</label>
                              <div class="col-sm-8">
                                <div class="form-line focused">
                                  <input type="text" class="form-control" id="nama" name="nama" value="">
                                  <!-- <i class=" fas fa-check-circle"></i>
                                  <i class="fas fa-exclamation-circle"></i>
                                  <small>Error massage</small> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-group row" style="margin-left: 10px;">
                            <label for="Tempat_lahir" class="col-sm-3 col-form-label">Tempat Lahir</label>
                            <div class="col-sm-8">
                              <div class="form-line focused">
                                <input type="text" class="form-control" id="tempat_lahir" name="tempat_lahir" value="">
                                <!-- <i class=" fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error massage</small> -->
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-group row" style="margin-left: 10px;">
                            <label for="Tanggal_lahir" class="col-sm-3 col-form-label">Tanggal Lahir</label>
                            <div class="col-sm-8">
                              <div class="form-line">
                                <input type="date" class="form-control" id="tanggal_lahir" name="tanggal_lahir" value="">
                                <!-- <i class=" fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error massage</small> -->
                              </div>
                            </div>
        
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-group row" style="margin-left: 10px;">
                            <label for="Alamat" class="col-sm-3 col-form-label">Alamat</label>
                            <div class="col-sm-8">
                              <div class="form-line">
                                <textarea class="form-control" id="alamat" name="alamat" rows="3"></textarea>
                                <!-- <i class=" fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error massage</small> -->
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-group" style="margin-top: 15px;">
                            <div class="form-group row" style="margin-left: 10px;">
                              <label for="Nama_kegiatan" class="col-sm-3 col-form-label">Nama Kegiatan</label>
                              <div class="col-sm-8">
                                <div class="form-line focused">
                                  <input type="text" class="form-control" id="nama_kegiatan" name="nama_kegiatan" placeholder="contoh : Pernikahan,Pengajian Akbar,dll..." value="">
                                  <!-- <i class=" fas fa-check-circle"></i>
                                  <i class="fas fa-exclamation-circle"></i>
                                  <small>Error massage</small> -->
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-group row" style="margin-left: 10px;">
                            <label for="Hari_kegiatan" class="col-sm-3 col-form-label">Hari</label>
                            <div class="col-sm-8">
                              <div class="form-line">
                                <select class="form-control" id="hari_kegiatan" name="hari_kegiatan">
                                  <option value="pilih hari..." class="form-user-input">pilih hari...</option>
                                  <option value="Senin" class="form-user-input">Senin</option>
                                  <option value="Selasa" class="form-user-input">Selasa</option>
                                  <option value="Rabu" class="form-user-input">Rabu</option>
                                  <option value="Kamis" class="form-user-input">Kamis</option>
                                  <option value="Jumat" class="form-user-input">Jumat</option>
                                  <option value="Sabtu" class="form-user-input">Sabtu</option>
                                  <option value="Minggu" class="form-user-input">Minggu</option>
                                </select>
                                <!-- <i class=" fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error massage</small> -->
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-group row" style="margin-left: 10px;">
                            <label for="Tanggal_kegiatan" class="col-sm-3 col-form-label">Tanggal
                              Kegiatan</label>
                            <div class="col-sm-8">
                              <div class="form-line focused">
                                <input type="date" class="form-control" id="tanggal_kegiatan" name="tanggal_kegiatan" placeholder="Isi Tanggal Kegiatan..." value="">
                                <!-- <i class=" fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error massage</small> -->
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-group row" style="margin-left: 10px;">
                            <label for="tempat" class="col-sm-3 col-form-label">Tempat Kegiatan</label>
                            <div class="col-sm-8">
                              <div class="form-line">
                                <textarea class="form-control" id="tempat" name="tempat" rows="3" placeholder="masukkan alamat disini dengan lengkap..."></textarea>
                                <!-- <i class=" fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error massage</small> -->
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-group row" style="margin-left: 10px;">
                            <label for="jam" class="col-sm-3 col-form-label">Jam Kegiatan</label>
                            <div class="col-sm-8">
                              <div class="form-line focused">
                                <input type="text" class="form-control" id="jam" name="jam" placeholder="masukkan jam kegiatan disini..." value="">
                                <!-- <i class=" fas fa-check-circle"></i>
                                <i class="fas fa-exclamation-circle"></i>
                                <small>Error massage</small> -->
                              </div>
                            </div>
        
                          </div>
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <div class="form-group row" style="margin-left: 10px;">
                          <label class="col-sm-3 col-form-label" for="file-upload-profil">Lampiran KTP</label>
                          <div class="custom-file col-sm-7 ml-3">
                            <div class="form-line-upload">
                              <label class="custom-file-label" for="file-upload-profil">pilih file...</label>
                              <input type="file" class="custom-file-input" id="file-upload-profil" name="berkas">
                              <!-- <small>Error massage</small> -->
                            </div>
                          </div>
                        </div>
                      </div>
        
                      <!-- <input type="hidden" class="form-control" id="id_nama_surat" name="id_nama_surat" value="5">
                      <input type="hidden" class="form-control" id="id_warga" name="id_warga" value="<?= $detail->id_warga; ?>">
                      <input type="hidden" class="form-control" id="status" name="status" value="Belum Tuntas"> -->
                </div>
                <div class="card-footer">
                  <div class="float-right">
                    <!-- <?php foreach ($detail_suket as $w) { ?> -->
                      <!-- <a href="<?= base_url() ?>warga/form_ubah_suket005/<?= $w->id_surat ?>"> -->
                        <button id=" btn_ubah" class="btn btn-sm btn-primary" type="submit">
                          <i class="fa fa-edit nav-icon">
                          </i> Ubah
                        </button>
                      <!-- </a> -->
                      <!-- <a href="<?= base_url() ?>warga/update_status_permohonan/<?= $w->id_permohonan_surat ?>/<?= $warga['id_warga'] ?>"> -->
                        <button id="btn_selesai" class="btn btn-sm btn-success" type="submit">
                          <i class="far fa-save nav-icon">
                          </i> Selesai
                        </button>
                      <!-- </a> -->
                    <!-- <?php } ?> -->
                  </div>
                </div>
                </form>
              <!-- <?php } ?> -->
              </div>
              </form>
            </div>
          </div>
          <!--End Content Profile-->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer" style="background-color: #007530;">
        <div class="container my-auto">
          <div class="copyright text-center my-auto text-white">
            <span>2021 Copyright &copy; Kementrian Agama Kab. Klaten</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>
</body>

</html>