body {
  background-color: #fff;
  font-family: 'Assistant', sans-serif;
  color: #007530;
}

.top-navbar {
  background-color: #007530;
  height: 40px;
}

.top-navbar .top-info {
  color: #ffff;
  font-size: 14px;
  padding-top: 10px;
}

.top-navbar .top-info a {
  text-decoration: none;
  color: inherit;
}

.top-navbar .top-info a:hover {
  color: #F69D1B;
}

@media (max-width: 768px) {
  .navbar-expand-lg .container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .top-navbar {
    display: none;
  }
  .btn-login {
    padding: 5px;
  }
}

.navbar-brand img {
  max-height: 55px;
}

@media (max-width: 768px) {
  .navbar-brand img {
    max-height: 50px;
  }
  .navbar-brand .btn-login {
    padding: 5px;
  }
}

.container .row {
  padding-top: 0px;
  padding-bottom: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #007530;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #007530 !important;
}

.btn-navbar-right {
  margin-top: -18px !important;
  margin-bottom: -14px !important;
  margin-right: -10px !important;
  border-radius: 20px;
}

.btn-login {
  background-color: #F69D1B;
  color: white;
}

.btn-login:hover {
  background-color: #F5C47B;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.owl-carousel {
  width: 100%;
  min-height: 440px;
}

@media (max-width: 768px) {
  .owl-carousel {
    min-height: 220px;
    margin-top: -5px;
  }
}

.slide {
  width: 100%;
  min-height: 440px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: -5px;
}

@media (max-width: 768px) {
  .slide {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: -40px;
    z-index: 1;
    min-height: 220px;
    width: 100%;
  }
}

.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 440px;
}

@media (max-width: 768px) {
  .slide::before {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: -160px;
    z-index: 1;
  }
}

.slide-1 {
  background-image: url(../images/banner_1.png);
}

.slide-2 {
  background-image: url(../images/banner_2.png);
}

.slide-3 {
  background-image: url(../images/banner_3.png);
}

.owl-dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 3%;
}

@media (max-width: 768px) {
  .owl-dots {
    bottom: 36%;
  }
}

.owl-dots span {
  width: 15px !important;
  height: 15px !important;
}

@media (max-width: 768px) {
  .owl-dots span {
    width: 8px !important;
    height: 8px !important;
  }
}

.owl-dots button {
  border: none !important;
  outline: none !important;
}

.owl-nav button {
  border: none !important;
  outline: none !important;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff !important;
  font-size: 65px !important;
  font-weight: bolder !important;
  background: none !important;
}

.owl-prev:hover,
.owl-next:hover {
  color: #F69D1B !important;
}

@media (max-width: 768px) {
  .owl-prev,
  .owl-next {
    top: 33%;
    font-size: 30px !important;
    font-weight: bolder !important;
  }
}

.owl-prev {
  left: 1%;
}

.owl-next {
  right: 1%;
}

.haji-umrah .sticky-container {
  padding: 0px;
  margin: 0px;
  position: fixed;
  right: -123px;
  top: 520px;
  width: 210px;
  z-index: 1100;
  opacity: 90%;
}

.haji-umrah .sticky li {
  border-radius: 10px;
  list-style-type: none;
  background-color: #F69D1B;
  color: #efefef;
  height: 43px;
  padding: 0px;
  margin: 0px 0px 1px 0px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.haji-umrah .sticky li img {
  float: left;
  margin: 5px 4px;
  margin-right: 5px;
}

.haji-umrah .sticky li p {
  padding-top: 5px;
  margin: 0px;
  line-height: 16px;
  font-size: 11px;
}

.haji-umrah .sticky li p a {
  text-decoration: none;
  color: #fff;
}

.haji-umrah .sticky li p a:hover {
  color: #007530;
}

.terkini-profile {
  margin-top: 0px;
}

.section-profile-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 35px;
}

.section-profile-heading p {
  font-size: 18px;
}

.section-profile-heading img {
  height: 300px;
}

.section-profile-heading figcaption {
  color: #92B7A1;
  font-style: italic;
}

@media (max-width: 768px) {
  .section-profile-heading {
    margin-top: 20px;
  }
}

.section-profile-content p {
  font-size: 18px;
  text-align: justify;
  padding: 5px;
}

.section-profile-content p a {
  text-decoration: none;
  color: inherit;
}

.section-profile-content p a:hover {
  color: #F69D1B;
}

.card {
  border: 0px;
}

@media (max-width: 768px) {
  .card {
    margin-top: -65px;
  }
}

.card-body {
  padding-top: 5px;
}

.card-body .terkini-title {
  margin-bottom: 2px;
}

.card-body hr {
  margin-top: 0px;
  max-width: 85px;
  background-color: #F69D1B;
  height: 4px;
  border: 0px;
  margin-bottom: 10px;
}

.card-body .round-number {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 600;
  width: 30px;
  height: 30px;
  background-color: #007530;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFF;
  border-radius: 50%;
  margin-left: 7px;
  margin-top: 5px;
}

.card-body .card-text {
  margin-bottom: 0px;
  font-size: 16px;
  text-align: justify;
}

.card-body .card-text:hover {
  color: #F69D1B;
}

.card-body .card-link {
  text-decoration: none;
  color: inherit;
}

.card-body .card-link:hover {
  color: #F69D1B;
}

.card-body .terkini-date {
  color: #92B7A1;
  font-size: 15px;
}

.card-body .terkini-list-title a {
  text-decoration: none;
  color: inherit;
}

.user-guide-heading {
  margin-top: 40px;
  background-color: #F69D1B;
  min-height: 360px;
  color: #fff;
}

.user-guide-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 35px;
}

.user-guide-heading p {
  font-size: 18px;
}

.user-guide-content {
  margin-top: -200px;
}

.user-guide-content .card {
  border-radius: 20px;
}

.user-guide-content .card:hover {
  background-color: #007530;
  color: #fff;
}

.user-guide-content .card:hover h5 {
  color: #F69D1B;
}

@media (max-width: 768px) {
  .user-guide-content .card {
    margin-top: 20px;
    height: 329px;
  }
}

.user-guide-content .card-body {
  height: 377px;
}

.user-guide-content .title-guide h5 {
  font-weight: bold;
  font-size: 20px;
}

.user-guide-content .content-guide p {
  padding-left: 6px;
  padding-right: 6px;
}

.user-guide-content .content-guide img {
  width: 120px;
  height: 120px;
}

.section-app {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff), to(#C3FCF1));
  background: linear-gradient(#fff 20%, #C3FCF1 100%);
  padding-top: 10px;
  min-height: 406px;
  margin-top: 70px;
}

.section-app h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 35px;
}

.section-app p {
  font-size: 18px;
}

.section-app .btn-primary {
  background-color: #007530;
  border: 0px;
}

.section-app .btn-primary:hover {
  background-color: #1A9D4F;
}

@media (max-width: 768px) {
  .section-app {
    margin-top: 40px;
    text-align: center;
  }
  .section-app .image-app {
    margin-top: 20px;
  }
}

.section-footer {
  background-color: #007530;
  color: #fff;
}

.section-footer a {
  text-decoration: none;
  color: inherit;
}

.section-footer a:hover {
  color: #F69D1B;
}

.section-footer hr {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #F69D1B;
  height: 7px;
  border: 0px;
}

.banner-profile {
  background-image: url("../images/banner_4.png");
  margin-bottom: 30px;
  height: 322px;
  background-size: cover;
}

.banner-profile h1 {
  font-family: 'Playfair Display', serif;
  margin-top: 131px;
  color: #FFF;
}

.sejarah .card-header {
  background-color: #F69D1B;
  color: #fff;
  border: 0px;
}

.sejarah .card-body {
  border: 0px;
}

.sejarah .card-text:hover {
  color: #007530;
}

.sejarah em:hover {
  color: #F69D1B;
}

@media (max-width: 768px) {
  .sejarah .card {
    margin-top: 0px;
  }
}

.visimisi .card-header,
.tugasfungsi .card-header,
.struktur .card-header,
.kontak .card-header {
  background-color: #F69D1B;
  color: #fff;
  border: 0px;
}

.visimisi .card-body,
.tugasfungsi .card-body,
.struktur .card-body,
.kontak .card-body {
  border: 0px;
}

.visimisi .card-text,
.tugasfungsi .card-text,
.struktur .card-text,
.kontak .card-text {
  text-align: justify;
}

@media (max-width: 768px) {
  .visimisi .card,
  .tugasfungsi .card,
  .struktur .card,
  .kontak .card {
    margin-top: 0px;
  }
}

.ptsp .cari-permohonan {
  padding-left: 300px;
  padding-right: 300px;
}

.ptsp .cari-permohonan .fa-search {
  color: #F69D1B;
}

.ptsp #button-cari {
  background-color: #007530;
}

.ptsp #button-cari:hover {
  background-color: #F69D1B;
}

.ptsp #button-cari:hover .fa-search {
  color: #fff;
}

.ptsp .item-ptsp .card-text {
  text-align: left;
}

.ptsp .item-ptsp .card-body {
  height: 129px;
}

.ptsp .item-ptsp .item-big {
  height: 190px;
}

.ptsp .item-ptsp:hover .card {
  background-color: #007530;
}

.ptsp .item-ptsp:hover .card-link {
  color: #F69D1B;
}

.ptsp .item-ptsp:hover .round-number {
  background-color: #F69D1B;
}

.ptsp .item-ptsp:hover .card-text {
  color: #fff;
}

@media (max-width: 768px) {
  .ptsp .cari-permohonan {
    padding-left: 0px;
    padding-right: 0px;
  }
  .ptsp .item-ptsp {
    margin-top: 65px;
  }
  .ptsp .item-ptsp .card-body {
    height: 150px;
  }
  .ptsp .item-ptsp .item-big {
    height: 210px;
  }
}

.pengaduan .section-pengaduan-title p {
  color: #F69D1B;
}

.item-pengaduan {
  padding-left: 100px;
  padding-right: 100px;
}

.item-pengaduan .form-group .form-control {
  border: 1px solid #007530;
}

.item-pengaduan .btn-primary {
  background-color: #007530;
  border: 0px;
  width: 90px;
  height: 40px;
}

.item-pengaduan .btn-primary:hover {
  background-color: #1A9D4F;
  border: 0px;
}

@media (max-width: 768px) {
  .item-pengaduan {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.whistleblowing .section-whistleblowing-title p {
  color: #F69D1B;
}

.detail-ptsp-title .row {
  padding-top: 20px;
}

.detail-ptsp-title h4 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 30px;
}

.detail-ptsp img {
  height: 350px;
  width: auto;
}

.detail-ptsp .card-body {
  border: 0px;
}

.detail-ptsp .card-header {
  background-color: #F69D1B;
  color: #fff;
  border: 0px;
}

.detail-ptsp .card-text:hover {
  color: #007530;
}

.detail-ptsp li {
  text-align: left;
}

@media (max-width: 768px) {
  .detail-ptsp img {
    height: 190px;
    width: auto;
  }
  .detail-ptsp .syarat .card {
    margin-top: 20px;
  }
  .detail-ptsp .card-text:hover {
    color: #007530;
  }
  .detail-ptsp .content-detail {
    margin-top: 80px;
  }
  .detail-ptsp .syarat {
    margin-top: -20px;
  }
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
/*# sourceMappingURL=main.css.map */