body {
	background-color: #fff;
	font-family: 'Assistant', sans-serif;
	color: #007530;
}

// Top Navbar
.top-navbar {
	background-color: #007530;
	height: 40px;

	.top-info {
		color: #ffff;
		font-size: 14px;
		padding-top: 10px;

		a {
			text-decoration: none;
			color: inherit;

			&:hover {
				color: #F69D1B;
			}
		}
	}

	
}

$breakpoint-tablet: 768px;

@media (max-width: $breakpoint-tablet) {

	.navbar-expand-lg {

		.container {
			padding-left: 25px;
			padding-right: 25px;
		}
	}

	.top-navbar {
		display: none;
	}

	.btn-login {
		padding: 5px;
	}
}

// Navbar
.navbar-brand {
	img {
		max-height: 55px;
	}

	$breakpoint-tablet: 768px;

	@media (max-width: $breakpoint-tablet) {
		img {
			max-height: 50px;
		}

		.btn-login {
			padding: 5px;
		}
	}
}

.container {
	.row {
		padding-top: 0px;
		padding-bottom: 0;
	}
}

.navbar-light {
	.navbar-nav {
		.nav-link {
			color: #007530;

			&.active {
				font-weight: bold;

				color: #007530 !important;
			}
		}
	}
}

.btn-navbar-right {
	margin-top: -18px !important;
	margin-bottom: -14px !important;
	margin-right: -10px !important;
	border-radius: 20px;
}

.btn-login {
	background-color: #F69D1B;
	color: white;

	&:hover {
		background-color: #F5C47B;
		color: white;
	}
}

//Carousel
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.owl-carousel {
	width: 100%;
	min-height: 440px;

	$breakpoint-tablet: 768px;

	@media (max-width: $breakpoint-tablet) {
		min-height: 220px;
		margin-top: -5px;
	}
}

.slide {
	width: 100%;
	min-height: 440px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: -5px;

	$breakpoint-tablet: 768px;

	@media (max-width: $breakpoint-tablet) {
		position: relative;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		margin-top: -40px;
		z-index: 1;
		min-height: 220px;
		width: 100%;
	}
}

.slide::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 440px;

	$breakpoint-tablet: 768px;

	@media (max-width: $breakpoint-tablet) {
		position: relative;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		margin-top: -160px;
		z-index: 1;
	}
}

.slide-1 {
	background-image: url(../images/banner_1.png);
}

.slide-2 {
	background-image: url(../images/banner_2.png);
}

.slide-3 {
	background-image: url(../images/banner_3.png);
}

.owl-dots {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 3%;

	$breakpoint-tablet: 768px;

	@media (max-width: $breakpoint-tablet) {
		// display: none;
		bottom: 36%;
	}
}

.owl-dots {
	span {
		width: 15px !important;
		height: 15px !important;

		$breakpoint-tablet: 768px;

		@media (max-width: $breakpoint-tablet) {
			width: 8px !important;
			height: 8px !important;
		}
	}
}

.owl-dots {
	button {
		border: none !important;
		outline: none !important;
	}
}

.owl-nav {
	button {
		border: none !important;
		outline: none !important;
	}
}

.owl-prev,
.owl-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #fff !important;
	font-size: 65px !important;
	font-weight: bolder !important;
	background: none !important;

	&:hover {
		color: #F69D1B !important;

	}

	$breakpoint-tablet: 768px;

	@media (max-width: $breakpoint-tablet) {
		top: 33%;
		font-size: 30px !important;
		font-weight: bolder !important;
	}
}

.owl-prev {
	left: 1%;
}

.owl-next {
	right: 1%;
}

// Chat haji & umrah
.haji-umrah {
	.sticky-container {
            padding: 0px;
            margin: 0px;
            position: fixed;
            right: -123px;
            top: 520px;
            width: 210px;
            z-index: 1100;
            opacity: 90%;
    }

	.sticky {
		li {
			border-radius: 10px;
            list-style-type: none;
            background-color: #F69D1B;
            color: #efefef;
            height: 43px;
            padding: 0px;
            margin: 0px 0px 1px 0px;
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
            cursor: pointer;

			img {
            float: left;
            margin: 5px 4px;
            margin-right: 5px;
        }

		p {
            padding-top: 5px;
            margin: 0px;
            line-height: 16px;
            font-size: 11px;

			a {
            text-decoration: none;
            color: #fff;
			
        }
		a:hover {
            color: #007530;
        }
        }
		}
	}
}

// Main
// Profil & Terkini

.terkini-profile {
	margin-top: 0px;

	$breakpoint-tablet: 768px;

	@media (max-width: $breakpoint-tablet) {
		margin-top: -90px;
	}

	.profil-heading {
		.profil {
			@media (max-width: $breakpoint-tablet) {
		margin-bottom: 0px !important;
	}
		}
	}
}


.section-profile-heading {
	h2 {
		font-family: 'Playfair Display', serif;
		font-weight: bold;
		font-size: 35px;
	}

	p {
		font-size: 18px;
	}

	img {
		height: 300px;
	}

	figcaption {
		color: #92B7A1;
		font-style: italic;
	}

	$breakpoint-tablet: 768px;

	@media (max-width: $breakpoint-tablet) {
		margin-top: 20px;
	}
}

.section-profile-content {
	p {
		font-size: 18px;
		text-align: justify;
		padding: 5px;

		a {
			text-decoration: none;
			color: inherit;

			&:hover {
				color: #F69D1B;
			}
		}
	}
}

.card {
	border: 0px;

	$breakpoint-tablet: 768px;

	@media (max-width: $breakpoint-tablet) {
		margin-top: -65px;
	}
}

.card-body {
	padding-top: 5px;

	.terkini-title {
		margin-bottom: 2px;
	}

	hr {
		margin-top: 0px;
		max-width: 85px;
		background-color: #F69D1B;
		height: 4px;
		border: 0px;
		margin-bottom: 10px;
	}

	.round-number {
		align-items: center;
		justify-content: center;
		font-size: 16px;
		font-weight: 600;
		width: 30px;
		height: 30px;
		background-color: #007530;
		display: flex;
		color: #FFF;
		border-radius: 50%;
		margin-left: 7px;
		margin-top: 5px;
	}

	.card-text {
		margin-bottom: 0px;
		font-size: 16px;
		text-align: justify;

		&:hover {
			color: #F69D1B;
		}
	}

	.card-link {
		text-decoration: none;
		color: inherit;

		&:hover {
			color: #F69D1B;
		}
	}

	.terkini-date {
		color: #92B7A1;
		font-size: 15px;
	}

	.terkini-list-title {
		a {
			text-decoration: none;
			color: inherit;
		}
	}
}

// profile-heading 
.profil-heading {
	h2 {
		font-family: 'Playfair Display', serif;
		font-weight: bold;
		font-size: 35px;
	}

	p {
		font-size: 18px;
	}
	
}

//User Guide Heading
.user-guide-heading {
	margin-top: 40px;
	background-color: #F69D1B;
	min-height: 360px;
	color: #fff;

	h2 {
		font-family: 'Playfair Display', serif;
		font-weight: bold;
		font-size: 35px;
	}

	p {
		font-size: 18px;
	}
}

//User Guide Content
.user-guide-content {
	margin-top: -200px;

	.card {
		border-radius: 20px;

		&:hover {
			background-color: #007530;
			color: #fff;

			h5 {
				color: #F69D1B;
			}
		}

		$breakpoint-tablet: 768px;

		@media (max-width: $breakpoint-tablet) {
			margin-top: 20px;
			height: 329px;
		}
	}

	.card-body {
		height: 377px;
	}

	.title-guide {
		h5 {
			font-weight: bold;
			font-size: 20px;
		}
	}

	.content-guide {
		p {
			padding-left: 6px;
			padding-right: 6px;
		}

		img {
			width: 120px;
			height: 120px;
		}
	}
}

// Apps
.section-app {
	background: linear-gradient(#fff 20%, #C3FCF1 100%);
	padding-top: 10px;
	min-height: 406px;
	margin-top: 70px;

	h2 {
		font-family: 'Playfair Display', serif;
		font-weight: bold;
		font-size: 35px;
	}

	p {
		font-size: 18px;
	}

	.btn-primary {
		background-color: #007530;
		border: 0px;

		&:hover {
			background-color: #1A9D4F;
		}
	}

	$breakpoint-tablet: 768px;

		@media (max-width: $breakpoint-tablet) {
			margin-top: 40px;
			text-align: center;
			
		.image-app {
			margin-top: 20px;
		}
	}
}

// Footer
.section-footer {
	background-color: #007530;
	color: #fff;

	a {
		text-decoration: none;
		color: inherit;

		&:hover {
			color: #F69D1B;
		}
	}

	hr {
		margin-top: 0px;
		margin-bottom: 0px;
		background-color: #F69D1B;
		height: 7px;
		border: 0px;
	}
}

// Profil
.banner-profile {
	background-image: url('../images/banner_4.png');
	margin-bottom: 30px;
	height: 322px;

	background-size: cover;

	h1 {
		font-family: 'Playfair Display', serif;
		margin-top: 131px;
		color: #FFF;
	}
}

.sejarah {
	.card-header {
		background-color: #F69D1B;
		color: #fff;
		border: 0px;
	}

	.card-body {
		border: 0px;
	}

	.card-text {
		&:hover {
			color: #007530;
		}
	}

	em {
		&:hover {
			color: #F69D1B;
		}
	}

	$breakpoint-tablet: 768px;

	@media (max-width: $breakpoint-tablet) {
		.card {
			margin-top: 0px;
		}
	}
}

.visimisi,
.tugasfungsi,
.struktur,
.kontak {
	.card-header {
		background-color: #F69D1B;
		color: #fff;
		border: 0px;
	}

	.card-body {
		border: 0px;
	}

	.card-text {
		text-align: justify;
	}

	$breakpoint-tablet: 768px;

	@media (max-width: $breakpoint-tablet) {
		.card {
			margin-top: 0px;
		}
	}
}

// PTSP
.ptsp {
	.cari-permohonan {
		padding-left: 300px;
		padding-right: 300px;


		.fa-search {
			color: #F69D1B;
		}
	}

	#button-cari {
		background-color: #007530;

		&:hover {
			background-color: #F69D1B;

			.fa-search {
				color: #fff;
			}
		}
	}

	.item-ptsp {
		.card-text {
			text-align: left;
		}

		.card-body {
			height: 129px;
		}

		.item-big {
			height: 190px;
		}

		&:hover {
			.card {
				background-color: #007530;
			}

			.card-link {
				color: #F69D1B;
			}

			.round-number {
				background-color: #F69D1B;
			}

			.card-text {
				color: #fff;
			}
		}
	}

	$breakpoint-tablet: 768px;

	@media (max-width: $breakpoint-tablet) {
		.cari-permohonan {
			padding-left: 0px;
			padding-right: 0px;
		}

		.item-ptsp {
			margin-top: 65px;

			.card-body {
				height: 150px;
			}

			.item-big {
				height: 210px;
			}
		}
	}
}

//Pengaduan
.pengaduan {
	.section-pengaduan-title {
		p {
			color: #F69D1B;
		}
	}
}

.item-pengaduan {
	padding-left: 100px;
	padding-right: 100px;

	.form-group {
		.form-control {
			border: 1px solid #007530;
		}
	}

	.btn-primary {
		background-color: #007530;
		border: 0px;
		width: 90px;
		height: 40px;

		&:hover {
			background-color: #1A9D4F;
			border: 0px;
		}
	}
}

$breakpoint-tablet: 768px;

@media (max-width: $breakpoint-tablet) {
	.item-pengaduan {
		padding-left: 25px;
		padding-right: 25px;
	}

}

// Whistleblowing
.whistleblowing {
	.section-whistleblowing-title {
		p {
			color: #F69D1B;
		}
	}
}

// Detail PTSP
.detail-ptsp-title {
	.row {
		padding-top: 20px;
	}

	h4 {
		font-family: 'Playfair Display', serif;
		font-weight: bold;
		font-size: 30px;
	}
}

.detail-ptsp {
	img {
		height: 350px;
		width: auto;
	}

	.card-body {
		border: 0px;
	}

	.card-header {
		background-color: #F69D1B;
		color: #fff;
		border: 0px;
	}

	.card-text {
		&:hover {
			color: #007530;
		}
	}

	li {
		text-align: left;
	}

	$breakpoint-tablet: 768px;

	@media (max-width: $breakpoint-tablet) {
		img {
			height: 190px;
			width: auto;
		}

		.syarat {
			.card {
				margin-top: 20px;
			}
		}

		.card-text {

			&:hover {
				color: #007530;
			}
		}

		.content-detail {
			margin-top: 80px;
		}

		.syarat {
			margin-top: -20px;
		}
	}
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

.list-syarat {
	li {
		text-align: justify;
	}
}

.peta_situs {
	a {
		text-decoration: none;
		color: #007530;

		&:hover {
			color: #F69D1B;
		}
	}
} 